<div class="top-content">
  <div class="center1 clearfix">
    <img src="/assets/banner_flower.jpg" alt="banner flower" />
    <h2><span>Helping</span> you<br />help yourself,<br /><span>naturally</span>.</h2>
  </div>
</div>
<div class="bot-content">
  <div class="center1 clearfix">
    <h2>Welcome to Intentional Health Products</h2>
    <div class="left-box">
      <%=raw @page.content_for(:left_side) %>
      <a class="btn" href="/services">local services</a>
    </div>
    <div class="right-box">
      <%=raw @page.content_for(:right_side) %>
      <a class="btn" href="/products">go shopping</a>
    </div>
  </div>
</div>

