
<h2>Hello! It's nice meet you</h2>
<h3>We create swanky web experiences for the everyday business<span>^ and marketing stuff</span></h3>

 
<section id="hex-grid">
  <article>
    <div class="grid_item">    
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
          <div class="hexagon-in2 one">  
          <p>Web<br />Solutions</p>         
          </div>
        </div>
      </div>
    </div>
    <div class="grid_item">    
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
          <div class="hexagon-in2 two"> 
          <p>Marketing<br />Collateral</p>               
          </div>
        </div>
      </div>
    </div>
    <div class="grid_item">    
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
          <div class="hexagon-in2 three"> 
          <p>Hosting</p>               
          </div>
        </div>
      </div>
    </div>
    <div class="grid_item">    
      <div class="hexagon hexagon2">
        <div class="hexagon-in1">
          <div class="hexagon-in2 four">
          <p>Design</p>              
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<section id="bot-content">
  <h3>We believe in transparency and giving you the value you deserve</h3>
</section>


<!-- <div id="design">
  <h1>Kaleidoscope Media</h1>
  <h3>we make swanky websites for the everyday entrapaneur</h3>
  <h2>What we do</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut imperdiet magna, nec mollis massa. Donec consequat vitae dolor et varius. Aliquam eu neque gravida, hendrerit lacus a, tempor odio. Duis porta velit massa, nec gravida orci consequat et. Nulla porttitor urna id lectus volutpat tempor. Praesent libero eros, dictum ac nisl ac, consequat porta metus. Suspendisse consequat massa blandit, ultrices orci sed, laoreet leo.</p>
</div> -->
