
<%= raw @page.content_for(:body) %>

<%= raw @page.content_for(:side_body) %>


<div id="design">
  <h1>Kaleidoscope Media</h1>
  <h3>we make swanky websites for the everyday entrapaneur</h3>
  <h2>What we do</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut imperdiet magna, nec mollis massa. Donec consequat vitae dolor et varius. Aliquam eu neque gravida, hendrerit lacus a, tempor odio. Duis porta velit massa, nec gravida orci consequat et. Nulla porttitor urna id lectus volutpat tempor. Praesent libero eros, dictum ac nisl ac, consequat porta metus. Suspendisse consequat massa blandit, ultrices orci sed, laoreet leo.</p>
</div>
