@import mixin
@import template

#header
  height: 3.4em
  > h1
    font-size: 1.9em
    font-weight: 900
    padding: 0.6em 0 0 10%
    a
      color: $text
  #menu
    width: 48%
    font-family: $copy
    text-transform: uppercase
    font-weight: 400
    position: absolute
    top: 8px
    left: 44%
    .selected
      border-width: 6px
      @include transition(all, .5s, ease, 0)
      a
        font-weight: bold
        border-width: 7px
    & > a 
      display: none
    li
      position: relative
      font-size: 1.0em
      z-index: 50
      &:nth-child(2n)
        a
          border-bottom: 4px solid lighten($accent1, 5%)
      a 
        color: $text
        display: block
        text-decoration: none
        font-weight: normal
        @include transition(all, .5s, ease, 0)
        width: 95%
        margin: 0 auto
        border-bottom: 4px solid $accent1
        @include transition(all, .2s, ease, 0)
        &:active
          color: darken($text-inverse, 12%)
    span
      &:after
        width: 0
        height: 0
        content: ''
        vertical-align: middle
        display: inline-block
        position: relative
        right: -0.313em
    & > ul 
      height: 2.35em
      background-color: transparent
      & > li 
        width: 19%
        height: 100%
        float: left
        & > a 
          height: 100%
          font-size: 1.0em
          line-height: 2.5em
          text-align: center
      & > li:hover > a, &:not( :hover ) > li.active 
        font-weight: bold
        border-width: 7px
        @include transition(all, .2s, ease, 0)
  @media ( max-width: 62.5em )
    #menu
      width: 61%
      left: 37%
  @media ( max-width: 720px )
    #menu 
      background: $accent1 url(threelines.png) no-repeat 7px 11px
      height: 4.5em
      width: 4.7em
      border: none
      top: 0
      left: 0
      z-index: 99
      & > a:after
        top: 60%
      &:not( :target ) > a:first-of-type, &:target > a:last-of-type 
        display: block
      & > ul 
        background: $accent1
        height: auto
        max-height: 0
        overflow: hidden
        position: absolute
        top: 4.4em
        left: 0
        right: 0
      &:target, &:hover, &:active
        font-weight: bold
        width: 100%
        & > ul
          max-height: 600px
          @include transition(max-height, 1s, ease, 0)
      & > ul > li
        width: 100%
        float: none
      & > a
        height: auto
        text-align: left
        padding: 0 0.833em
      &:not( :last-child ) > a
        border-right: none
        border-bottom: 1px solid $text
      li ul
        position: static
        padding-top: 0