@import mixin
@import template
#page
  .top-content
    width: 100%
    border-bottom: 3px solid #e6e7e6
    padding-bottom: 2.5em
    img
      display: block
      max-width: 371px
      width: 37%
      height: auto
      margin-top: -7em
      z-index: 5
      float: left
    h2
      color: $text
      width: 6.3em
      float: left
      font-weight: normal
      margin: 1.1em 0 0 7%
      font-size: 5.3em
      font-size: 6.7vw
      line-height: 1em
      white-space: nowrap
      span
        color: $accent1
  .bot-content
    width: 100%
    background: url(background_texture.jpg) repeat left top
    h2
      color: $accent2
      font-size: 2em
      padding: 1em 0 1em 0
    h3
      color: lighten($primary, 15%)
      padding-bottom: 5px
      margin-bottom: 10px
    p
      color: $text
      margin-bottom: 1em
    .left-box, .right-box
      padding-bottom: 4em
      width: 45%
    .left-box
      float: left
    .right-box
      float: right
    .btn
      display: block
      color: #fff
      background: $accent2
      width: 8em
      text-align: center
      padding: 8px
      font-size: 1.5em
      @include border-radius(4px)
      &:hover
        background: darken($accent2, 15%)

















