//This file contains the fonts and color codes for the whole layout

//main font families
$heading: georgia, serif
$caption: helvetica, sans-serif
$copy: helvetica, sans-serif


//Colors
$text: #666666
$text-inverse: #e6e7e6
$primary: #2d251f
$accent1: #ffb310
$accent2: #9aa731



